# Folders
build

# KDevelop
kde?
*.kde?

# Generated
CMakeLists.txt.user
Makefile
*.o
moc_*

# Docs
docs/html

# OS
.DS_Store

# Editors
*.swp
*.autosave

# Build folders
*/debug
*/release
*/*/debug
*/*/release

# Visual studio
*.suo
*.ncb
*.user
*.pdb
*.idb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.lib
*.sln
*.rc
